input[type="radio"]:checked, input[type="checkbox"]:checked {
    border-color: #8224e3;
}
input[type="radio"], input[type="checkbox"] {
    color: #8224e3;
}
input[type="checkbox"] {
    border-radius: 4px;
    vertical-align: middle;
    margin-top: -2px;
}
input[type="radio"], input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 1px solid #dedede;
    color: #5561e2;
    cursor: pointer;
    display: inline-block !important;
    margin-right: 0.375rem;
    outline: none;
    z-index: 1000;
    transition: all 0.15s ease-out 0s;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}