.Auth{
    margin-top: 10%;
}
.AuthWrap{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
.info{
    background-color: rgba(130, 36, 227, 0.8);
    width: 50%;
}
.AuthFormWrap{
    width: 50%;
    background-color: #fff;
}
.AuthForm{
    
}